header#headerGame
  h1= __('app.name')
  h2= __('data.gameName') + params.gameName

  section#alertMessage
    - if (params.firstPlayer)
      p.waitingAnotherPlayer.animated.bounceIn= __('alertMessage.waitingAnotherPlayer')
    - else
      p.alertYouJoin.animated.bounceIn
        = __('alertMessage.alertYouJoin') + ' '
        - if (params.firstToPlay == params.pseudo)
          = __('alertMessage.youStart')
        - else
          = __('alertMessage.theOtherStarts.first')
          span(class="pseudo #{ params.firstPlayer ? 'pseudoToReplace' : '' }")
            = params.pseudoOther
          = __('alertMessage.theOtherStarts.second')
    
  section#alertMessageList.hidden
    p.alertAnotherPlayer
      span.pseudoToReplace.pseudo= params.pseudoOther
      = __('alertMessage.alertAnotherPlayer') + ' '
      - if (params.firstToPlay == params.pseudo)
        = __('alertMessage.youStart')
      - else
        = __('alertMessage.theOtherStarts.first')
        span(class="pseudo #{ params.firstPlayer ? 'pseudoToReplace' : '' }")
          = params.pseudoOther
        = __('alertMessage.theOtherStarts.second')
    p.yourTurn= __('alertMessage.yourTurn')
    p.theOtherTurn
      i.fa.fa-circle-o-notch.fa-spin
      span(class="pseudo #{ params.firstPlayer ? 'pseudoToReplace' : '' }")
        = params.pseudoOther
      = __('alertMessage.theOtherTurn')
    p.impossiblePlay
      = __('alertMessage.impossiblePlay.first')
      span(class="pseudo #{ params.firstPlayer ? 'pseudoToReplace' : '' }")
        = params.pseudoOther
      = __('alertMessage.impossiblePlay.second')
    p.impossiblePlayOther
      span(class="pseudo #{ params.firstPlayer ? 'pseudoToReplace' : '' }")
        = params.pseudoOther
      = __('alertMessage.impossiblePlayOtherPlayer')
    p.endGameEqual= __('alertMessage.endGameEqual')
    p.endGame= __('alertMessage.endGame')
    p.restart
      span.theOtherRestarted.hidden= __('alertMessage.theOtherRestarted') + ' '
      span.youStart.hidden= __('alertMessage.youStart')
      span.theOtherStarts.hidden
        = __('alertMessage.theOtherStarts.first')
        span(class="pseudo #{ params.firstPlayer ? 'pseudoToReplace' : '' }")
          = params.pseudoOther
        = __('alertMessage.theOtherStarts.second')

  section#actions
    a.rules.btn.btn-success.btn-sm(href="#{ params.linkRules }", target="_blank")
      = __('actions.showRules')
    a.restart.btn.btn-warning.btn-sm
      = __('actions.restart')
    a.quit.btn.btn-danger.btn-sm(data-toggle="modal", data-target="#modalQuit")
      = __('actions.quit')
