
include ./_modals.jade

include ./_header.jade

.row
  section.col-sm-4#data
    p.turn.black
      = __('data.turn')
      span.pseudo(class="#{ params.firstPlayer && params.firstToPlay != params.pseudo ? 'pseudoToReplace' : '' }")
        = params.firstToPlay
    div.score
      h4= __('data.score')
      p(class="#{ params.firstToPlay == params.pseudo ? 'black' : 'white' }")
        span.pseudo= params.pseudo
        = ' : '
        span.number
      p(class="#{ params.firstToPlay == params.pseudo ? 'white' : 'black' }")
        span.pseudo(class="#{ params.firstPlayer ? 'pseudoToReplace' : '' }")
          = params.pseudoOther
        = ' : '
        span.number

  section.col-sm-4#gameboard(role='gameboard')
    - for (i=0 ; i < params.gameboardSize ; ++i)
      div.row
        - for (j=0 ; j < params.gameboardSize ; ++j)
          div.case

  section.col-sm-4#tchat
    ul
      li.writing.hidden.text-muted
        span.pseudo
        = __('tchat.someoneIsWriting')

    - if (params.firstPlayer)
      textarea(data-placeholder="#{__('tchat.insertMessageHere')}", disabled="disabled")
    - else
      textarea(placeholder="#{__('tchat.insertMessageHere')}")